name: Android CI

on:
  push:
    branches: [ "master" ] # ปรับให้ตรงกับ branch ของคุณแล้วครับ

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    
    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'
        
    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        channel: 'stable'
        
    - run: flutter pub get
    - run: flutter build apk --debug

    - name: Upload APK
      uses: actions/upload-artifact@v3
      with:
        name: my-app-apk
        path: build/app/outputs/flutter-apk/app-debug.apk